%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        skydio => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::skydio',
            },
        },
    },
);

%Image::ExifTool::UserDefined::skydio = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-skydio', 2 => 'Image' },
    NAMESPACE => { skydio => 'https://www.skydio.com/xmp/1.0/' },
    WRITABLE => 'string',
    CalibratedFocalLengthX => { Writable => 'real' },
    CalibratedFocalLengthY => { Writable => 'real' },
    CalibratedOpticalCenterX => { Writable => 'real' },
    CalibratedOpticalCenterY => { Writable => 'real' },
    CameraOrientationNEDRoll => { Writable => 'real' },
    CameraOrientationNEDPitch => { Writable => 'real' },
    CameraOrientationNEDYaw => { Writable => 'real' },
    CameraPositionFLUZ => { },
    GpsMslHeight => { Writable => 'real' },
);

1;
